body{
    margin: 0px;
    background-color: antiquewhite;
}
#body-header{
    height: 75vh;
    
    background-image: url(applemouse\ -\ Copy.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 1.2rem;
}
.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
}
.horizontal-list li{
    display: inline-block;
    margin: 0px 20px 20px 0px;
    padding-top: 30px;
    
    

}
.horizontal-list  li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 200;
    
    
}
.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;

}

.nav-menu li a:hover{
    color:lightgrey;
    border-bottom: 1px solid white;
}
#my-name{
    font-size: 8rem;
    color: white;
    text-align: center;
    letter-spacing: .1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    padding-top: 100px;
    

}
.social-icons li a i{
    padding: 10px;
    
    color:whitesmoke;
    font-size: 2rem;
    border-radius: 50%;

}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px white ;

}
section{
    width: 100%;
   height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* section :nth-child(2n){
    background-color:antiquewhite;

}
section:nth-child(2n+1){
background-color:beige
} */

section:target{
    background-color: cyan;
    
}
.section-heading{
    width: auto;
    padding: 40px 20px 20px;
    margin: 40px auto;
}
.section-heading span{
    font-size: 8rem;
    color: blue;
    display: inline-block;
    padding-top: 30px;
    margin-right: .5rem;

}

/* About-section */


#about{
    height: auto;
    width: 100%;
    position: relative;
    font-weight: 400;
}
#my-image{
    height: 16rem;
    width: 15rem;
    margin: auto;
    margin-top: -10vh;
}
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border-color:white;
    border-style: solid;
    
}
#about-para{
    padding: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: black;
    line-height: 28px;
    font-weight: 600;
    font-style:cursive;
    font-size:2rem;
    
}
#about-para span{
    color: blue;
}
/*skill-section*/

.skills-display{
     width: 70%;
      /* height: 50px;    */
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 20px;

    
    
}

.skills-progress{
    width: 8rem;
    height: 1.5rem;
    background-color:red;
    border-radius: .8rem;
    /* border: 2px solid black; */
    overflow: hidden;
    margin: 50px;
}
.skills-name span{
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
    vertical-align: middle;
    


}
.skills-progress>div{
    border-radius: 20px 0px 0px 20px;
}


.mb75px{
    margin-bottom: 75px;
}
.mb-blue{
    background-color: blue;
}
.mb-cyan{
    background-color: blueviolet;
}
.mb-green{
    background-color: green;

}
.mb-yellow{
    background-color:violet;
}
.mb-pink{
    background-color: black;
}
.mb-gray{
    background-color: blueviolet;
}
.mb-orange{
    background-color:palevioletred;
}
.mb-white{
    background-color: burlywood;
}

/*parcentageclass*/
.eight-five-percent{
    width: 85%;
    height: inherit;
}


/* timeline */

.timeline{
    position: relative;
    width: 75%;
    /* border: 2px solid black; */
}
.timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    /* border: 2px solid black;  */
}
.timeline-box:nth-child(2n){
    left:53%;

}

.timeline-box:nth-child(2n)::after{
    content: '';
    position: absolute;
    top: 30%;
    left: -9%;
    border-radius: 50%;
    width: .5rem;
    height: .5rem;
    background-color: red;
    z-index: 1;


}
.timeline-box:nth-child(2n+1)::after{
    content: '';
    position: absolute;
    top: 32%;
    right: -12%;
    border-radius: 50%;
    width: .5rem;
    height: .5rem;
    background-color: red;
    z-index: 1;


}
.timeline-divider{
    position: absolute;
    height:85%;
    width: 0;
    border: 1px dashed blue;
    top:10%;
    left:50%
}

@media screen and (max-width: 600px) {
    .timeline-divider{
        left: 5%;
    }
    .timeline-box{
        left: 12% !important;
        width: 80%;
    }
    .timeline-box::after{
        left: -12% !important;
    }
    html{
        font-size: 15px;
    }
    /* .time li;
    .timeline-box:nth-child(2n+1)::after{
        left: -12%;
    }
    .timeline-box:nth-child(2n)::after{
        left: -12%;
    } */
    
    
}

.timeline-traveller{
    position: sticky;
    top: 30%;
    transform: rotate(90deg);

}
.timeline-box h1{
    margin-left: 40%;
    color: blue;
    font-size: 2.3rem;

}
.timeline-box h2{
    margin-left: 70%;
    color: brown;
    font-size:1.7rem ;

}
.timeline-box h4{
    margin-left: 70%;
    color: black;
    font-size: 1.2rem;
}
.timeline-box p{
    color: black;
    font-size: 1.2rem;
    font-weight: 200;
}
.timeline-box  h1::before{
    content: '';
     height: 40px;
    width: 40px;
    background-image: url(coding-ninjas-logos..jpeg); 
    background-size: 30px;
     display: inline-block;  
    background-size: contain;
    /* margin-right: 90%; */
    


}
.timeline-box img{
    height: 60px;
    width: 60px;
    display: flex;
    /* margin-top: 80px; */
    padding-top: 30px;
    
}
/* portfolio section */
#image{
    height: 60%;
    width: 70%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 20px;

    

    
}
#image img{
    height: 20rem;
    width: 22rem;
    margin: 50px;


}
#image img:hover{
    color: aquamarine;
}

/* contact-section */
#contact{
    width: 1600px;
    height: 1600px;
    background-image: linear-gradient(90deg,cyan ,blue);
    border: 2px solid black;
}
#contact span{
    font-size: 2.5rem;
    color:white;
    margin-top: 50px;
    font-weight: 400;                                                                                                       




    
}
.contact-name{
    width: 90%;
    min-width: 725px;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 2.5rem;
    margin-right: 700px;
    margin-top: 200px;
}
.personal-details{
    width: 50%;
}
.explore-me{
    margin-left: 15%;
}
.explore-me input,textarea{
    max-width: 90%;
    margin: 10px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}
.explore-me button[type="submit"]{
    background: transparent;
    font-size: .95rem;
    border: 2px solid white;
    margin-top: 2px;
    margin-left: 35%;
    border-radius: 2px;
    color:white;

    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875rem;
    line-height: 1;
    padding: 0.8rem 0.8rem 0.78rem;
    text-transform: uppercase;


}
input:focus,
select:focus,
textarea:focus,
button:focus{
    outline: none;
}
.explore-me button:hover{
    background: white;
    color: blue;
}
#address{
    margin-top: -250px;
}
#address h1{
    font-size: 2.5rem;
    font-weight: 200;
    color: white;
    margin-left: 1100px;
    margin-top: 50px;
}


#address  span{
    font-size: 1.5rem;
    color:white;
    margin-left: 1100px;
    font-weight: 100;

    
    
    
                                                                                            

}

#address p{
    font-size: 1.5rem;
    color: white;
    margin-left: 1100px;

}
#cont{
    margin-right:-50px;
    margin-bottom: -1000px;
}



